/* Mobile Veiw Start */
.betWindow{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    margin: 20px;
    padding: 8px;
    color: white;
}


.betButton{
    height:50px;
    flex: 1 1 20%;
    border-radius: 20px;
    border-color: white;
    margin: 2px;
    color: white;
    background-color:orange;
}

.betMenu{
    display: flex;
    flex-wrap: wrap;
}

#clearBet{
    background-color: #9b1c31;
}

#placeBet{
    background-color: #009900
}
/* Mobile Veiw End  */